header{
    display: flex;
    background-color: #23275b;
    align-items: center;
    height: 7vh;
    padding: 0 10px 0 20px;
}

#logo {
    max-height: 30px;
}

#grupo-sf {
    font-weight: bold;
    color: white;
    padding-left: 20px;
    font-family: 'Open Sans';
    margin-right: auto; /*Empuja los iconos a la derecha*/
}

header button{
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    border-radius: 5px;
}

header button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#icono-buscar img{
    height: 17px;
}

#icono-menu img{
    height: 20px;
}

#icono-tools img {
    height: 20px;
}

#cabecera nav{
    background-color: #6e729f;
    position: absolute;
    z-index: 1;
}

#cabecera nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#cabecera nav ul li{
    padding: 15px 10px 15px 20px;
    display: flex;
    align-items: center;
}

#cabecera nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#cabecera nav ul li a{
    margin-right: auto;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
}

#cabecera nav ul li img{
    max-height: 25px;
}

#cabecera #marco-buscador{
    background-color: #6e729f;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

#cabecera #contenedor-buscador #buscador{
    width: 90vw;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

/*TOOLS*/
#contenedor-tools {
    position: absolute;
    width: 100vw;
    background-color: #6e729f;
}

#contenedor-tools h2 {
    margin: 0;
    padding: 20px 0 0 20px;
    color: white;
}

#contenedor-tools #herramientas {
    padding: 20px 20px 0 20px;    
}

#contenedor-tools #herramientas b{
    color: white;
    margin-right: auto;
}

#contenedor-tools #herramientas div {
    padding: 0 40px 10px 40px;
    display: flex;
    align-items: center;
    align-content: center;
}

#contenedor-tools #herramientas button {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-size: 16pt;
    background-color: #6e729f;
    margin: 5px;
}

#contenedor-tools #herramientas button:hover {
    cursor: pointer;
    background-color: #959ad3;
}

#contenedor-tools #herramientas input {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-family: 'Open Sans';
}

#contenedor-reestablecer {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

#reestablecer{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #6e729f;
    margin: 5px;
}

#reestablecer:hover{
    cursor: pointer;
    background-color: #959ad3;
}

.visible-tools {
    display: flex;
    flex-direction: column;
    background-color: red;
}

/*VISTA ORDENADOR*/
@media (orientation: landscape){
    #cabecera nav{
        right: 0;
        width: 400px;
    }

    #cabecera #marco-buscador{
        align-items: right;
        padding-left: 20px;
    }

    #cabecera #contenedor-buscador #buscador{
        width: 400px;
        padding: 7px;
        border-radius: 5px;
        border: none;
    }

    #contenedor-tools{
        right: 0;
        width: 400px;
    }

    /* Quitar los botones en navegadores basados en Webkit (Chrome, Safari, Edge) */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Quitar los botones en Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
}

/*VISTA MOVIL*/
@media (orientation: portrait){
    #cabecera nav{
        width: 100vw;
    }

    #cabecera #marco-buscador {
        align-items: center;
    }

    
}

