.filtro {
    display: none;
}

/*MÓVIL*/
@media (orientation: portrait) {

#buscador-container {
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    padding-bottom: 20px;
}

input {
    width: 75vw;
    padding: 10px 0 10px 0;
    outline: none;
    /* border-radius: 25px; */
    border: none;
    border-bottom: 1px solid black;
    background: none;
    
}

#info {
    padding-bottom: 10px;
}

ol {
    padding-left: 20px;
}

}

/*VISTA ORDENADOR*/
@media (orientation: landscape) {

    #buscador-container {
        display: flex;
        /* background-color: red; */
        /* justify-content: center; */
        padding-bottom: 20px;
    }
    
    input {
        width: 75vw;
        padding: 10px 0 10px 0;
        outline: none;
        /* border-radius: 25px; */
        border: none;
        border-bottom: 1px solid black;
        background: none;
        
    }
    
    #info {
        padding-bottom: 10px;
    }
    
    ol {
        padding-left: 20px;
    }
    
    }
