@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Noto+Sans+Mono:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.fragment-mono-regular {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fragment-mono-regular-italic {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: italic;
}


html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url(../images/Negro\ sin\ fondo.PNG) no-repeat center center;
    background-size: 100% auto;
    background-attachment:fixed;
}

#pagina {
    position: relative;
    min-height: 100%;
}

#contenido {
    padding-bottom: 80px;
}

/*HEADER*/

header {
    top: 0;
    display: flex;
    background-color: #cce4ff;
    height: 50px;
    /* border-bottom: 1px solid #c9c9c9; */
    padding: 20px;
    align-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

#grupo-sf {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 600;
}

#search-bar {
    position: absolute;
    right: 40px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #8f8f8f;
    padding-left: 15px;
}


/*NAVIGATION*/

nav {
    margin: 0;
    background-color: #cce4ff;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
    border-top: 2px solid #ddedff;
    display: flex;
    list-style-type: none;
    background-color: #a8d1ff;
}

nav li{
    margin-left: 0;
    
    text-align: center;
    align-content: center;
    width: 75px;
}

nav a {
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: black;
}

nav li:hover {
    background: linear-gradient(to bottom, #cce4ff6e, #ddedff);
    cursor: pointer;
}

/*SONG*/

#song {
    display:block;
    padding-right: 30px;
}


#title  {
    font-size: 2em;
    font-weight: 600;
}

#artist {
    font-size: 1.2em;
    font-weight: 600;
    color: grey;
}

#info {
    padding-bottom: 30px;
}

#song-body {
    line-height: 1.5em;
    font-family: "Fragment Mono";
    unicode-bidi: isolate;
    white-space: pre;
    word-wrap: break-word;
    break-inside: avoid;
    
    overflow: visible;  /*Permite que se vean las imágenes aunque se salgan del contenedor*/
}

b, #original-tone {
    color: red;
    cursor: pointer;
}

#notation {
    display: none;
}

#tone {
    font-size: 0.9em;
    padding-top: 20px;
    font-weight: 550;
}

/*ASIDE*/

aside {
    position: absolute;
    background-color: white;
    border: 1px solid #c9c9c9;
    height: 80px;
    width: 100px;
    border-radius: 15px;
    align-content: center;
    padding-left: 15px;
}

#plus-min {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2em;
    color: red;
}

#original-tone, b{
    position: relative;
    display: inline-block;
}

/*CHORD IMAGES*/

.hover-image {
    display: none; /*Oculta la imagen por defecto */
    position: fixed;
    top: 35%; /* Muestra la imagen justo debajo del texto "Lam" */
    left: 50%; 
    transform: translateX(-50%);
    border: 1px solid #ccc;
    background-color: #fff;
    height: 250px;
    image-rendering: pixelated; /*Para que no se pixelen los laterales*/
    padding: 5px;
    z-index: 1; /* Asegura que la imagen esté encima de otros elementos */
    white-space: nowrap; /* Evita que la imagen se corte */
    overflow: hidden;
}

#original-tone:hover .hover-image {
    display: block; /* Muestra la imagen cuando se pasa el ratón por encima del span */
}

b:hover .hover-image {
    display: flex; /* Muestra la imagen cuando se pasa el ratón por encima del span */
}


/*SCROLL PLAY/PAUSE*/

#pauseButton {
    position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: 3;
    opacity: 0.75;
    font-size: 1.2em;
    color: grey;
    padding: 10px;
    background: none;
    height: 15px;
    width: 30px;
    text-align: right;
    border: none;
}

#pauseButton:hover {
    cursor: pointer;
}

.scroll-speed-value {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 12px;
    width: 30px;
    height: 200px;
    text-align: center;
    z-index: 1;
}

.scroll-speed-bar {
    display: none;
    transform: rotate(270deg); /* Gira el deslizable */
    position: fixed;
    bottom: 120px;
    right: -40px;
    border: 1px solid black;
    z-index: 2;
    color: red;
    border-radius: 10px;
    outline: none;
}

#controls:hover .scroll-speed-bar {
    display: block;
}

#controls:hover .scroll-speed-value {
    display: block;
}


/*FOOTER*/

#pie {
    align-items: center;
    height: 60px;
    line-height: 60px;
    background-color: rgb(0, 77, 112);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

#pie-content {
    padding-left: 20px;;
}

/*ORDENADOR*/
@media (orientation: landscape){
    
    header {
        padding-left: 50px;
    }

    nav li {
        padding: 10px 20px 10px 20px;
    }

    #song {
        padding-left: 50px;
        padding-top: 50px;
    }

    aside {
        top: 160px;
        right: 50px;
    }

    /*********************************************/
    .texto-principal {
        column-count: 1; /* Por defecto una columna */
        column-gap: 20px; /* Espacio entre columnas */
    }

    .texto-principal.dos-columnas {
        column-count: 2; /* Dos columnas */
    }
}

/*MÓVIL*/
@media (orientation: portrait) {

    header {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    #grupo-sf {
        margin-left: 30px;
        font-size: 25px;
    }

    nav ul {
        justify-content: space-around;
    }

    nav li {
        /* padding: 10px 15px 10px 15px; */
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20vw;
    }

    nav li a {
        padding-left: 3px;
        padding-right: 3px;
    }

    #song {
        padding-left: 25px;
        padding-top: 25px;
        font-size: 0.85em;
    }

    aside {
        top: 240px;
        right: 20px;
        height: 70px;
    }

    #search-bar {
        display: none;
    }
}


